%form{:action => "/", :method => "post", :name => "value_form"}
  %p
    Which Curve?
  %select{:name => "curves", :form => "value_form"}
    - @curves.each_key do |x|
      = "<option value=#{x} name=#{x}> #{x} </option>"
  %p
    Achievement Percentage
  %input{:name => "message", :type => "text"}
    %input{:type => "submit"}
%p
  Payout Percentage:
  %input#test3{:name => "pay_out", :type => "text", :value => @pay}
  (%)

%table{:border => "0", :class => "curve_tab"}
  %tr
    %th Achievement
    %th Payout
  %div
    - @curve.each do |x,v|
      = "<tr><td> #{x} </td> <td>#{v}</td></tr>"
/ Div that will hold the pie chart
#chart_div