%form{:action => "/", :method => "post", :name => "value_form"}
  %p
    Which Curve?
  %select{:name => "curves", :form => "value_form", :onchange => 'getComboA(this)'}
    - @curves.each_key do |x|
      = "<option value=#{x} name=#{x}> #{x} </option>"
  %p
    Achievement Percentage
  %input{:name => "message", :type => "text"}
    %input{:type => "submit"}
%p
  Payout Percentage:
  %input#test3{:name => "pay_out", :type => "text", :value => @pay}
  (%)

%table{:class => "curve_panel"}
  %tr
    - @curves.each do |k,v|
      %td
        = "<h2>#{k}</h2>"
        %table{:border => "0", :class => "curve_tab"}
          %tr
            %th Achievement
            %th Payout
          - @curves[k].int_data.each do |x,y|
            = "<tr><td> #{x} </td> <td>#{y}</td></tr>"

