%section
  %form{:action => "/tiles", :method => "post", :name => "curve_form"}
    %select{:name => "curve_list", :onchange => "getComboA(this)", :form => "curve_form"}
      - @curves.each do |k,v|
        %option{:value => k}
          = @curves[k].name
    %input#display_curve{:name => "display_curve", :type => "hidden", :value => ""}
      %input{:type => "submit", :value => "Display"}
%div{:class => "section group"}
  %div{:class => "col span_2_of_8"}
    %h1
      = @curves[@sym].name
    %table{:border => "0"}
      %tr
        %th Achievement
        %th Payout
      - @curves[@sym].int_data.each do |x,y|
        = "<tr><td> #{x} </td> <td>#{y}</td></tr>"
%section
  %div{:class => "section group"}
    %div{:class => "col span_1_of_8"}
      1 of 8
    %div{:class => "col span_1_of_8"}
      2 of 8
    %div{:class => "col span_1_of_8"}
      3 of 8
    %div{:class => "col span_1_of_8"}
      4 of 8
    %div{:class => "col span_1_of_8"}
      5 of 8
    %div{:class => "col span_1_of_8"}
      6 of 8
    %div{:class => "col span_1_of_8"}
      7 of 8
    %div{:class => "col span_1_of_8"}
      8 of 8